.header{
    width:100%;
    height: 20%;
    position: relative;
    
}
.blogTitle{
    color: #7171C6;
    padding: 10px 0 0 10px;
}

.logIn{
    width: 30px;
    height:30px;
    background: url('../icons/in.svg');
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.logOut{
    width: 30px;
    height:30px;
    background: url('../icons/out.svg');
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.headerMenu{
    height: auto;
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;

}

.headerMenuItem{
    width:100px;
    display: inline-block;
    height:30px; 
    background: #EEEE00;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 20px 0;
    cursor: pointer;
    color: #fff;
}
.headerMenuItem:hover{
    color:#666699;
    background: #FFCC99;

}
.selectedHeaderMenuItem{
     width:100px;
    display: inline-block;
    height:30px; 
     color:#666699;
    background: #FFCC99;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 20px 0;
    cursor: pointer;
}