.nav{
    width:20%;
    height: 80%;
    background: #CCFFCC;
    float: left;
}
.navTitle{
    text-align: center;
    margin-top:10px;
    color:#666;
}
.navItem{
    margin: 10px 0px 0px 20px;
    list-style: none;
    cursor: pointer;
}
.navItem:hover{
    text-decoration: underline;
    color:#4169E1;
}
